*{
    font-weight: bold;
}
.carousel-item{
    height: 100vh;
    background-image: url(./pexels-karolina-grabowska-4386379.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}
.name{
    font-size: 4rem;
}
#converter{
    display: flex;
    height: 100vh;
    background-image: url(./pexels-karolina-grabowska-4386379.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    
    
    
    
}
.container{
    background-color: grey;
    opacity: 80%;
    border: solid black 1.5px;
    border-radius: 1rem;
    height: 30pc;
    width: 100pc;
    
    
}
.converter{
    margin-top: 10pc;
    
}
.currency{
    display: grid;
    

    
    
    
}


